.movie-card--child {
  background-color: gray;
  height: 300px;
  flex: 0 30%;
  margin: 10px;
  cursor: pointer;
  border-radius: 40px !important;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.movie-card--child:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.movie-card--child--image {
  border-radius: 40px 40px 0px 0px;
  height: 100%;
}

.movie-card--child--custom-grid {
  display: flex;
}

.movie-card--child--custom-grid>span {
  width: auto !important;
  min-width: 40% !important;
  min-height: 300px;
}

.movie-card--child--custom-grid .movie-card--child--image {
  border-radius: 40px 0px 0px 40px !important;
}

.movie-card--child--custom-list {}